@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --primary-black: 25, 25, 25;
  --surface-1: 45, 45, 45;
  --surface-2: 55, 55, 55;
  --surface-3: 249, 249, 249;

  --heading: 249, 249, 249;
  --body-text: 210, 210, 210;

  --global-padding: 1em;
  --global-gap: 1em;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(var(--surface-1));
  display: flex;
  justify-content: center;
}

#content {
  height: 100vh;
  max-width: 1440px;
  width: 100vw;
  padding: var(--global-padding);
}

.open-sans-400 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.open-sans-500 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.open-sans-700 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.header {
  background-color: rgb(var(--primary-black));
  border-radius: 10px;
  overflow: hidden;
  height: 3.75em;
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--global-padding);
  height: 100%;
  width: 100%;
}

.nav-brand,
.nav-aligner {
  --size: 40px;
  object-fit: cover;
  height: var(--size);
  width: var(--size);
}

.nav-ul {
  display: flex;
  align-items: center;
  gap: 2.5em;
  list-style: none;
}

.nav-ul a {
  color: rgb(var(--body-text));
  font-size: 1em;
  text-decoration: none;
}

#main {
  --height: 600px;

  display: grid;
  grid-template-columns: 1fr 1.3fr;
  gap: var(--global-gap);
  height: var(--height);
  padding-top: var(--global-padding);
  padding-left: var(--global-padding);
  padding-right: var(--global-padding);
}

.info,
.form {
  border-radius: 10px;
  border: 1px solid rgba(var(--surface-3), 0.2);
  padding: var(--global-padding);
}

.info {
  h1 {
    color: rgb(var(--heading));
    margin-bottom: 5px;
  }
  p {
    color: rgb(var(--body-text));
    max-width: 450px;
  }
}
